.btn_set{
    height: 5px;
}


.inputkey {
    height: 60px;
    width: 60px;
    background-size: cover;
}

#setkeyleft{
    background-image: url("../images/keys/ArrowLeft.png");
}
#setkeyright{
    background-image: url("../images/keys/ArrowRight.png");
}
#setkeyup{
    background-image: url("../images/keys/ArrowUp.png");
}
#setkeydown{
    background-image: url("../images/keys/ArrowDown.png");
}

.ghostbutton {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 8px;
    background-color: white;
    border: white;
  }


#ghostBlinky{
    background-image: url("../images/characters/Blinky.png");
}

#ghostClyde{
    background-image: url("../images/characters/Clyde.png");

}
#ghostInky{
    background-image: url("../images/characters/Inky.png");
}
#ghostPinky{
    background-image: url("../images/characters/pinky.png");
}